.container {
  width: 30%;
  max-width: 250px;
  height: 56px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  column-gap: 0px;
}

.input {
}
